<html>
  <head>
    <title>PittCTF</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>PittCTF</h1>
    <ul class="menuNav">
      <li><a href="/index">Main Page</a></li>
      {% if user_email %}
      <li><a href="/acctManage">Manage Account</a></li>
      <li><a href="{{ logout_url }}">Sign Out</a></li>
      {% else %}
      <li><a href="{{ login_url }}">Sign In</a></li>
      {% endif %}
    </ul>
{% block bodycontent %}{% endblock %}

  </body>
</html>