{% extends "_base.html" %}
{% block bodycontent %}
<div class="contentbkg">
    <div class="text-center">
	<h2 align="center">Manage Account</h2>
	<form align="center" method="post" enctype="multipart/form-data">
	<p class="actm">First Name</p>
	<input name="fname" type="text" value="{{firstName}}" maxlength="30" required><br><br><br>
	<p class="actm">Last Name:</p>
	<input name="lname" type="text" value="{{lastName}}" maxlength="50" required><br><br><br>
	<p class="actm">Username:</p>
	<input name="username" type="text" value="{{username}}" maxlength="20" required><br><br><br>
	<input class="btn btn-default" value="Submit" type="submit">
	</form>
	</div>
</div>
{% endblock %}