{% extends "_base.html" %}
{% block bodycontent %}
<p>Welcome to PittCTF, an online Capture the Flag platform.</p><hr>
<p id="descrip">PittCTF is a website where anyone can come and attempt to complete security challenges that test skills in forensics, web exploitation, scripting, binary reversing, and many other skills. Users can add their own challenges and also make competitive lobbies both private and public for other users to compete in!</p>
<hr>
<p> the stuff printing down here will not stay here, just testing ndb</p>
<p>{{ firstName }} </p>
<p>{{ lastName }} </p>
<p>{{ alias }} </p>
<p>{{ user_email }} </p>

{% endblock %}
