{% extends "_base.html" %}
{% block bodycontent %}
  <div class="contentbkg">
    {% if lobbynum > 0 %}
    <h2 align="center">My Lobbies:</h2>
    <div class="table-responsive">
    <table class="challenge-table">
      <tr>
        <th></th>
        <th>Lobby Name</th>
        <th>Leaderboard</th>
      </tr>
      {% for lobby in lobbies %}
        <tr>
          <td><a href="/enterLobby?lobbyID={{ lobby.key.urlsafe }}">Enter</a></td>
          <td> {{ lobby.lobbyName }}</td>
          <td><a href="/leaderboard?lobbyID={{ lobby.key.urlsafe }}">View</a></td>
        </tr>
      {% endfor %}
    </table>
    <br>
    <div class="text-center"><a class="btn btn-default" href="/createLobby">Create Another Lobby</a></div>
    {% else %}
    <h2 align="center">My Lobbies:</h2>
    <p class="chalquestion">You haven't created a lobby yet!<br>Go create one!</p>
    <div class="text-center"><a class="btn btn-default" href="/createLobby">Create Lobby</a></div>
    {% endif %}
  </div>
  </div>
  <div class="contentbkg">
    <h2 align="center">All Lobbies:</h2>
    <div class="table-responsive">
    <table class="challenge-table">
      <tr>
        <th></th>
        <th>Lobby Name</th>
        <th>Leaderboard</th>
      </tr>
      {% for lobby in alllobbies %}
        <tr>
          <td><a href="/enterLobby?lobbyID={{ lobby.key.urlsafe }}">Enter</a></td>
          <td> {{ lobby.lobbyName }}</td>
          <td><a href="/leaderboard?lobbyID={{ lobby.key.urlsafe }}">View</a></td>
        </tr>
      {% endfor %}
    </table>
    </div>
  </div>
{% endblock %}