{% extends "_base.html" %}
{% block bodycontent %}
  <div class="contentbkg">
    <h2 align="center">My Challenges:</h2>

    <table class="challenge-table" align="center" style="margin: 0px auto;">
      <tr>
        <th>Name</th>
        <th>Question</th>
        <th>Answer</th>
        <th>Points</th>
      </tr>
      {% for chal in challenges %}
        <tr>
          <td>{{ chal.name }}</td>
          <td>{{ chal.question }}</td>
          <td>{{ chal.answer }}</td>
          <td>{{ chal.score }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <!--<div class="contentbkg">
    <h2 align="center">Public Challenges:</h2>

    <table class="challenge-table" align="center" style="margin: 0px auto;">
      <tr>
        <th>Name</th>
        <th>Question</th>
        <th>Answer</th>
        <th>Points</th>
      </tr>
      {% for pChal in pChallenges %}
        <tr>
          <td>{{ pChal.name }}</td>
          <td>{{ pChal.question }}</td>
          <td>{{ pChal.answer }}</td>
          <td>{{ pChal.score }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>-->
{% endblock %}