{% extends "_base.html" %}
{% block bodycontent %}
  <div class="contentbkg">
    {% if numchallenges > 0 %}
    <h2 align="center">My Challenges:</h2>
    <table class="challenge-table" align="center" style="margin: 0px auto;">
      <tr>
        <th>Name</th>
        <th>Question</th>
        <th>Answer</th>
        <th>Points</th>
      </tr>
      {% for chal in challenges %}
        <tr>
          <td>{{ chal.name }}</td>
          <td>{{ chal.question }}</td>
          <td>{{ chal.answer }}</td>
          <td>{{ chal.score }}</td>
          <td><a href="/editChallenge?challengeId={{ chal.key }}">Edit</td>
        </tr>
      {% endfor %}
    </table>
    <br>
    <div class="text-center"><a class="btn btn-default" href="/uploadChallenge">Create More Challenges</a></div>
    {% else %}
    <p class="chalquestion">You haven't created any challenges yet!<br>You need to create challenges to create a lobby!<br>Go create some!</p>
    <div class="text-center"><a class="btn btn-default" href="/uploadChallenge">Create Challenge</a></div>
    {% endif %}
  </div>
{% endblock %}