{% extends "_base.html" %}
{% block bodycontent %}
<div id="question" class="contentbkg">
    {% if solved == 1 %}
    <p class="chaltitle" align="center"><u>{{ chalObject.name }}</u></h2>
    <p class="chalquestion" align="center">{{ chalObject.question }}</p>
    <p class="chalquestion" align="center">You have already solved this question!</p>
    <p class="chalanswer" align="center">You earned {{ chalObject.score }} points from this question!</p>
    {% else %}
    <form align="center" onSubmit="return here()">
        <p class="chaltitle" align="center"><u>{{ chalObject.name }}</u></h2>
        <p class="chalquestion" align="center">{{ chalObject.question }}</p>
        <a href="/view_files/{{chalObject.blob_key}}" class="chalquestion" align="center">Files for challenge.</a>
        <div id="answered">
            Answer:<br>
            <input type="text" name="answer" required="true"><br><br>
            <input class="btn btn-default" type="submit" value="Submit">
        </div>
        <br><br><p class="chalanswer" align="center">Points for correct answer: {{ chalObject.score }}</p>
    </form>
    {% endif %}
</div>
<!-- MODALS -->
<div id="correctModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <p>Correct!</p>
      </div>
      <div class="modal-body" id="myModalBody">
        <div class="modal-body">
          <p>You have earned {{ chalObject.score }} points!<p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div id="incorrectModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <p>Incorrect!</p>
      </div>
      <div class="modal-body" id="myModalBody">
        <div class="modal-body">
          <p>Try again.<p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-failure" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
function here() 
{
    var userAnswer = $('input[name=answer]').val();
    var xmlHttp = createXmlHttp();
    var chalID = "{{ chalObject.name }}";
    xmlHttp.onreadystatechange=function() 
    {
        if(xmlHttp.readyState == 4) 
        {
            if (xmlHttp.status == 200)
            {
                var data = xmlHttp.responseText;
                var d = document.getElementById('answered');
                if(data == "Correct")
                {
                    d.innerHTML = "<br><p>Correct!</p>";
                    $('#correctModal').modal('show');
                }
                else
                    $('#incorrectModal').modal('show');
            }
            else if (xmlHttp.status == 404)
                alert("Request URL does not exist");
            else
                alert("Error: status code is " + xmlHttp.status);
        }
    }
    postParameters(xmlHttp, '/solveChallenge?userAnswer='+userAnswer+'&chal_id='+chalID);

    return false;
}
function createXmlHttp()
{
    var xmlhttp;
    if (window.XMLHttpRequest)
    {
        xmlhttp = new XMLHttpRequest();
    }
    else
    {
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    if (!(xmlhttp))
    {
        alert("Your browser does not support AJAX!");
    }
    return xmlhttp;
}
function postParameters(xmlHttp, target) 
{
    if (xmlHttp)
    {
        xmlHttp.open("POST",target,true);
        xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xmlHttp.send();
    }
}
</script>
{% endblock %}

